<VirtualHost *:{{ http_port }}>
    ServerAdmin webmaster@localhost
    ServerName {{ http_host }}
    DocumentRoot {{ app_dir }}/public
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined

    RewriteEngine On
    Alias /.well-known/acme-challenge/ "{{ acme_challenge_dir }}/"
    RewriteRule "^/.well-known/acme-challenge/" - [L]
    <Directory "{{ acme_challenge_dir }}/">
        Options Indexes MultiViews
        AllowOverride None
        Order allow,deny
        Allow from all
    </Directory>

    <Directory {{ app_dir }}/public>
        AllowOverride All
    </Directory>
    
</VirtualHost>
